{% extends "documentation/guides/guide" %}

{% block pageheader %}
	<h1>Get Started</h1> 
    <p>A sleek modern java templating engine.</p>
{% endblock pageheader %}

{% block guideTitle %}Installation & Configuration{% endblock %}

{% block guideContent %}
		
		<h3>Installation</h3>
		<p>
			Pebble is hosted in the Maven Central Repository. Simply add the following dependency into your <code>pom.xml</code>
			file:
		</p>
		<p>
			<pre>{{ '
<dependency>
	<groupId>com.mitchellbosecke</groupId>
	<artifactId>pebble</artifact>
	<version>' | trim | escape }} {{ currentVersion }} {{ '</version>
</dependency>' | trim | escape }}</pre>
		</p>
		<p>
			If you are integrating Pebble with Spring MVC, make sure to include the pebble-spring3 adapter as well.
			This will provide the necessary <code>ViewResolver</code> and <code>View</code> classes.
		</p>
		<p>
			<pre>{{ '
<dependency>
	<groupId>com.mitchellbosecke</groupId>
	<artifactId>pebble-spring3</artifact>
	<version>' | trim | escape }} {{ currentVersion }} {{ '</version>
</dependency>' | trim | escape }}</pre>
		</p>
		
		<h3>Configuration</h3>
		
		<ul class="nav nav-tabs">
			<li class="active"><a href="#spring" data-toggle="tab">Java + Spring MVC</a></li>
			<li><a href="#java" data-toggle="tab">Java</a></li>
		</ul>  
		<div class="tab-content">
  			<div class="tab-pane active" id="spring">
  				<p>
  					First and foremost, make sure your templates are on the classpath (ex. /WEB-INF/templates/).
  					Then simply define a {{ api(currentVersion, null, 'PebbleEngine') }} bean and a <code>PebbleViewResolver</code> in 
  					your servlet config.
  					<pre class="xml">{{ '

<bean id="pebbleEngine" class="com.mitchellbosecke.pebble.PebbleEngine">
	<property name="strictVariables" value="false" />
	<property name="loader">
		<bean class="com.mitchellbosecke.pebble.spring.PebbleTemplateLoader" />
	</property>
</bean>

<bean id="viewResolver" class="com.mitchellbosecke.pebble.spring.PebbleViewResolver">
	<property name="prefix" value="\WEB-INF\templates\" />
	<property name="suffix" value=".html.peb" />
	<property name="pebbleEngine" ref="pebbleEngine" />
</bean>		
				' | trim | escape }}</pre> 
				</p>
				<p>
					Now the methods in your <code>@Controller</code> annotated classes
					can simply return the name of the template as you normally would
					if using JSPs. You can exclude the template file extension if you
					set it as the "suffix" property of the <code>PebbleViewResolver</code>.
  				</p>
  			</div>
  			<div class="tab-pane" id="java">
  				<p>
  					You will need to create two objects, a Loader which will find and 
  					read your templates, and a PebbleEngine which will compile and render
  					your templates. Pebble comes with a default loader but you can feel
  					free to implement {{ api(currentVersion, 'loader', 'Loader') }}
  					yourself if you wish.
  					
  					<pre class="java">{{ '

Loader loader = new DefaultLoader();
PebbleEngine engine = new PebbleEngine(loader);

PebbleTemplate compiledTemplate = engine.compile("templateName");

Writer writer = new StringWriter();
compiledTemplate.render(writer);

String output = writer.toString();
				' | trim | escape }}</pre> 
				</p>
			</div>
		</div>
		
		
		<h3>Pebble Engine Settings</h3>
		<p>
			<dl class="dl-horizontal">
				<dt>cache</dt>
				<dd>
					An implementation of the {{ api(currentVersion, 'cache', 'TemplateLoadingCache') }} interface that the Pebble engine will use
					to cache compiled templates. 
					<br> 
					Default: {{ api(currentVersion, 'cache', 'DefaultTemplateLoadingCache') }}
				</dd>
				<dt>defaultLocale</dt>
				<dd>
					The default locale which will be passed to each compiled template. The templates then use this
					locale for functions such as <code><a href="../function/message">message</a></code>, etc. A
					template can also be given a unique locale during evaluation.
					<br>
					Default: <strong><code>Locale.getDefault()</code></strong>
				</dd>
				<dt>executorService</dt>
				<dd>
					An <code>ExecutorService</code> that allows the usage of some advanced multithreading features, 
					such as the	<code><a href="../tag/parallel">parallel</a></code> tag.
					<br> 
					Default: <strong>null</strong> 
				</dd>
				<dt>loader</dt>
				<dd>
					An implementation of the {{ api(currentVersion, 'loader', 'Loader') }} interface which is used to
					find and read templates.
					<br>
					Default: {{ api(currentVersion, 'loader', 'DefaultLoader') }}
				</dd>
				<dt>strictVariables</dt>
				<dd>
					If set to true, Pebble will throw an exception if you try to access a variable or attribute
					that does not exist. If set to false, your template won't skip a beat. 
					<br>
					Default: <strong>false</strong>
			</dl>
		</p>
		
		<a class="btn btn-success btn-lg" href="basic-usage">Basic Usage <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
{% endblock %}