{% extends "documentation" %}

{% block content %}
	<div class="container">
	
		<ol class="breadcrumb">
			<li><a href="/{{ contextRoot }}/documentation">Documentation</a></li>
			<li><a href="/{{ contextRoot }}/documentation/{{ componentType }}">{{ componentType | capitalize }}s</a></li>
			<li class="active">{{ componentName }}</li>
		</ol>
		
		<h2><code>{{ componentName }}</code></h2>
		
		{% block componentDetails %}{% endblock componentDetails %}
		
	</div>
	
{% endblock content%}