<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
		<link rel="stylesheet" href="/{{ contextRoot }}/resources/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/{{ contextRoot }}/resources/css/tomorrow-night.css" />
        <link rel="stylesheet" href="/{{ contextRoot }}/resources/css/pebble.css" />
        
        <title>Pebble</title>
    </head>
    <body>
    
    	<div class="pebble-nav navbar navbar-inverse navbar-fixed-top" role="navigation">
    		<div class="container">
    			<div class="navbar-header">
			    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
				    </button>
				    <a class="navbar-brand" href="/{{ contextRoot }}/home">Pebble</a>
			  	</div>
			  	
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav">
						{%  block navigation %}
							{{ navItem(contextRoot, "Home", "home", "Home" equals activeNav) }}
							{{ navItem(contextRoot, "Documentation", "documentation", "Documentation" equals activeNav) }}
							<li><a href="http://blog.pebble.mitchellbosecke.com">Blog</a></li>
						{% endblock navigation %}
				    </ul>
				    <div class="pull-right github-button">
				    	<iframe src="http://ghbtns.com/github-btn.html?user=mbosecke&repo=pebble&type=watch&count=true&size=large"
  					allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe>
				    </div>
				</div>
    		</div><!-- end nav container -->
    	</div><!-- end navbar -->
    	
    	<div class="pebble-header">
    		<div class="container">
    			{% block pageheader %}{% endblock pageheader %}
    		</div>
    	</div>
    
        {% block content %}{% endblock content %}
        
        <div class="pebble-footer">
        	<div class="container">
        		<p>&copy; 2014 Mitchell Bösecke</p>
        		<p>
        			<ul>
        				<li><a href="/{{ contextRoot }}/license">License</a></li>
        				<li><a href="https://github.com/mbosecke/pebble/issues">Submit a Bug</a></li>
        			</ul>
        		</p>
    		</div>
        </div>
        
        <script src="///ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script src="/{{ contextRoot }}/resources/js/highlight.pack.js"></script>
        <script src="/{{ contextRoot }}/resources/js/bootstrap.min.js"></script>
        <script src="/{{ contextRoot }}/resources/js/pebble.js"></script>

    </body>
</html>

{% macro navItem(contextRoot, name, href, active) %}
	<li class="{{ active? "active" : "" }}"><a href="/{{contextRoot}}/{{ href }}">{{ name }}</a></li>
{% endmacro %}

{% macro api(version, package, name) %}
	<code><a href="http://mbosecke.github.io/pebble/{{ version }}/apidocs/com/mitchellbosecke/pebble/{{ package is null? '': package + '/' }}{{ name }}.html" target="_blank">{{ name }}</a></code>
{% endmacro %}
