<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
		<link rel="stylesheet" href="/{{ contextRoot }}/resources/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/{{ contextRoot }}/resources/css/tomorrow-night.css" />
        <link rel="stylesheet" href="/{{ contextRoot }}/resources/css/pebble.css" />
        
        <title>Pebble</title>
    </head>
    <body>
    
    	<div class="pebble-nav navbar navbar-inverse navbar-fixed-top" role="navigation">
    		<div class="container">
    			<div class="navbar-header">
			    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
				    </button>
				    <a class="navbar-brand" href="home">Pebble</a>
			  	</div>
			  	
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav">
						{%  block navigation %}
							{{ _self.navItem("Home", "home", "Home" is equalTo(activeNav) ) }}
							{{ _self.navItem("Get Started", "get-started", "Get Started" is equalTo(activeNav) ) }}
							{{ _self.navItem("Documentation", "documentation", "Documentation" is equalTo(activeNav) ) }}
							{{ _self.navItem("Blog", "blog", "Blog" is equalTo(activeNav) ) }}
						{% endblock navigation %}
				    </ul>
				</div>
    		</div><!-- end nav container -->
    	</div><!-- end navbar -->
    	
    	<div class="pebble-header">
    		<div class="container">
    			{% block pageheader %}{% endblock pageheader %}
    		</div>
    	</div>
    
        {% block content %}{% endblock content %}
        
        <div class="pebble-footer">
        	{% block footer %}{% endblock footer %}
        </div>
        
        <script src="///ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="/{{ contextRoot }}/resources/js/highlight.pack.js"></script>
        <script src="/{{ contextRoot }}/resources/js/bootstrap.min.js"></script>
        <script src="/{{ contextRoot }}/resources/js/pebble.js"></script>
    </body>
</html>

{% macro navItem(name, href, active) %}
	<li class="{{ active? "active" : "" }}"><a href="/{{contextRoot}}/{{ href }}">{{ name }}</a></li>
{% endmacro %}
