{% extends "base" %}

{% block navigation %}
	{% set activeNav = "Documentation" %}
	{{ parent() }}
{% endblock navigation %}

{% block pageheader %}
	<h1>Documentation</h1> 
    <p>A sleek modern java templating engine.</p>
{% endblock pageheader %}

{% block content %}
	<div class="container">
		<h2>Guides</h2>
		<ul>
			<li><a href="documentation/guide/installation">Installation and Configuration</a></li>
			<li><a href="documentation/guide/basic-usage">Basic Usage</a></li>
			<li><a href="documentation/guide/extending-pebble">Extending Pebble</a></li>
			<li><a href="documentation/guide/high-performance">High Performance Techniques</a></li>
		</ul>
		
		<h2>Reference</h2>
		
		<div class="row">
			<div class="col-md-3">
				<h3>Tags</h3>
				<ul>
				{% for tagName in tagList %}
					{{ referenceItem("tag", tagName) }}
				{% endfor %}
				</ul>
			</div>
			<div class="col-md-3">
				<h3>Filters</h3>
				<ul>
				{% for filterName in filterList %}
					{{ referenceItem("filter", filterName) }}
				{% endfor %}
				</ul>
			</div>
			<div class="col-md-3">
				<h3>Functions</h3>
				<ul>
				{% for functionName in functionList %}
					{{ referenceItem("function", functionName) }}
				{% endfor %}
				</ul>
			</div>
			<div class="col-md-3">
				<h3>Tests</h3>
				<ul>
				{% for testName in testList %}
					{{ referenceItem("test", testName) }}
				{% endfor %}
				</ul>
			</div>
		</div>
	
		<h3>Operators</h3>
		<ul>
			{{ referenceItem("operator", "is") }}
			{{ referenceItem("operator", "math", "(<code>+</code>,<code>-</code>,<code>/</code>,<code>%</code>,<code>*</code>)") }}
			{{ referenceItem("operator", "logic", "(<code>and</code>,<code>or</code>,<code>not</code>,<code>()</code>)") }}
			{{ referenceItem("operator", "comparisons", "(<code>==</code>,<code>!=</code>,<code>&lt;</code>,<code>&gt;</code>,<code>&lt;=</code>,<code>&gt;=</code>,<code>equals</code>)") }}
			{{ referenceItem("operator", "others", "(<code>|</code>,<code>?:</code>)") }}
		</ul>
	</div>
{% endblock content%}



{# MACROS #}

{% macro referenceItem(type, name, details) %}
	<li><a href="documentation/{{ type }}/{{ name }}">{{ name }}</a> {{ details }}</li>
{% endmacro %}