{% extends "base" %}

{% block navigation %}
	{% set activeNav = "Documentation" %}
	{{ parent() }}
{% endblock navigation %}

{% block pageheader %}
	<h1>Documentation</h1> 
    <p>A sleek modern java templating engine.</p>
{% endblock pageheader %}

{% block content %}
	<div class="container">
		<h2>Guides</h2>
		<ul>
			<li><a href="documentation/guide/get-started">Installation and Configuration</a></li>
			<li><a href="documentation/guide/basic-usage">Basic Usage</a></li>
			<li><a href="documentation/guide/extending-pebble">Extending Pebble</a></li>
		</ul>
		
		<h2>Reference</h2>
		
		<div class="row">
			<div class="col-md-3">
				<h3>Tags</h3>
				<ul>
				{% for tagName in tagList %}
					{{ _self.referenceItem("tag", tagName) }}
				{% endfor %}
				</ul>
			</div>
			<div class="col-md-3">
				<h3>Filters</h3>
				<ul>
				{% for filterName in filterList %}
					{{ _self.referenceItem("filter", filterName) }}
				{% endfor %}
				</ul>
			</div>
			<div class="col-md-3">
				<h3>Functions</h3>
				<ul>
				{% for functionName in functionList %}
					{{ _self.referenceItem("function", functionName) }}
				{% endfor %}
				</ul>
			</div>
			<div class="col-md-3">
				<h3>Tests</h3>
				<ul>
				{% for testName in testList %}
					{{ _self.referenceItem("test", testName) }}
				{% endfor %}
				</ul>
			</div>
		</div>
	
		<h3>Operators</h3>
		<ul>
			{{ _self.referenceItem("operator", "is") }}
			{{ _self.referenceItem("operator", "math", "(+,-,/,%,*)") }}
			{{ _self.referenceItem("operator", "logic", "(and,or,not,())") }}
			{{ _self.referenceItem("operator", "comparisons", "(==,!=,<,>,<=,>=)") }}
			{{ _self.referenceItem("operator", "others", "(|,?:)") }}
		</ul>
	</div>
{% endblock content%}



{# MACROS #}

{% macro referenceItem(type, name) %}
	<li><a href="documentation/{{ type }}/{{ name }}">{{ name }}</a></li>
{% endmacro %}

{% macro referenceItem(type, name, details) %}
	<li><a href="documentation/{{ type }}/{{ name }}">{{ name }}</a> {{ details }}</li>
{% endmacro %}